root {
    display: block;
}

.centered {
    text-align: center;
}

.sansSerif{
    font-family: sans-serif;
    color: red;
    border-color: black;
    border-style: solid;
}
.serif{
    font-family: serif;
    color: darkgreen;
    border-color: darkred;
    border-style: solid;
}
.seriff{
    font-family: serif;
    color: darkgreen;
}
